@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic&subset=latin,latin-ext);


body{
  background-color: #fbfbfb;
}

body,html{
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

// Colors
$primary-color: #113a8c;
$secondary-color: #2c8c12;

// Navbar
.navbar{
  background-color:#fff;
  box-shadow: 0px 3px 10px -1px #e6e6e6;
  .navbar-nav {
    .nav-item{
      a.nav-link{
        color: #123b8b;
        i.fa{
          font-size: 21px;
          padding-top:3px;
        }
      }
      &.active{
        a.nav-link{
          font-weight: 600;
        } 
      }
      &.filters{
        a.nav-link{
          background-color:$secondary-color;
          border-radius:2px;
          color:#fff;
          padding: 3px 10px;
          margin: 4px 0;
        }
      }
    }
  }
  .navbar-brand{
    margin-top:0;
    margin-bottom:0;
    vertical-align: middle;
    line-height: 30px;
    @media(max-width:376px){
      img{
        height: 17px;
        margin-top: 7px;
      }
    }
    @media(min-width:377px){
      img{
        height: 30px;
      }
    }
  }
  @media(max-width:768px){
    .navbar-nav {
      .nav-item{
        a.nav-link{
          span{
            display:none;
          }
          i.fa{
            display: block;
          }
        }
        &.filters{
          display: block;
        }
      }
    }
  }
  @media(min-width:768px){
    .navbar-nav {
      .nav-item{
        a.nav-link{
          span{
            display: block;
          }
          i.fa{
            display: none;
          }
        }
        &.filters{
          display: none;
        }
      }
    }
  }
  @media(max-width: 991px){
    .navbar-nav .nav-item.filters{
      display: block;
    }
  }
  @media(min-width: 992px){
    .navbar-nav .nav-item.filters{
      display: none;
    }
  }
}
.main-container{
  @media(max-width: 991px){
    margin-top: 65px;
  }
  @media(min-width: 992px){
    margin-top: 80px;
  }
}

// Sidebar
.sidebar{
  background-color:#fbfbfb;
  box-shadow: 0px 0px 30px 2px #f6f6f6;
  padding: 20px;
  @media(max-width:991px){
    position:fixed;
    left:-255px;
    top:0;
    width:255px;
    height: 100%;
    background-color:#fff;
    z-index: 9999;
    overflow-y: scroll;
    transition: all 0.3s ease-in-out;
    box-shadow:none;
    &.sidebar-show{
      left:0;
    }
  }
  .sidebar-section{
    margin-bottom: 20px;
  }
  // Making gutters smaller
  .row{
    margin-left: -5px;
    margin-right: -5px;
  }
  div[class^="col"]{
    padding-left:5px!important;
    padding-right:5px!important;
  }
  // Typography
  h1{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #4b4b4b;
  }
  h2{
    font-size: 14px;
    margin-top: 0;
    color: #4b4b4b;
  }
  // Forms
  select{
    display: block;
    width: 100%;
  }
  button,
  input[type="text"],
  select{
    border-radius: 0;
  }
  .c-checkbox{
    .c-indicator{
      background-color:#fff;
      border:1px solid #dbdbdb;
      width: 22px;
      height: 22px;
      border-radius: 0;
    }
    input:checked ~ .c-indicator{
      background-color:$primary-color;
      border:none;
    }
    padding-left: 35px;
    padding-top: 3px;
    color: #4b4b4b;
    font-size: 14px;
  }
  select, input[type="text"]{
    border-color:#dbdbdb;
    font-size:14px;
    &:focus{
      border-color:$primary-color;
    }
    &:disabled{
      background-color:#efefef;
      color: #a7a7a7;
    }
  }
}
//remove mask if user has weird device that on landscape is big
@media(max-width:991px){
  .sidebar-mask{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9998;
  }
}
// Content
.content{
  .sorting{
    margin-bottom: 10px;
    .btn.btn-link{
      color: #8b8b8b;
      text-decoration: none;
      padding-left:8px;
      padding-right:8px;
      @media(max-width:401px){
        font-size: 13px;
      }
      &:hover{
        color: $primary-color;
      }
      &:after{
        font: normal normal normal 14px/1 FontAwesome;
        margin-left: 5px;
      }
      &.btn-sort-asc{
        &:after{
          content: "\f0de";
        }
      }
      &.btn-sort-desc{
        &:after{
          content: "\f0dd";
        }
      }
      &.btn-sort-nosort{
        &:after{
          content: "\f0dc";
        }
      }
    }
  }
  .product-list{
    .product{
      background-color: #fff;
      border-radius:0;
      border: none;
      padding:20px;
      box-shadow: 0px 0px 30px 2px #f6f6f6;
      position:relative;
      margin-bottom: 20px;
      &.featured{
        box-shadow: 0px 0px 30px 2px #dfdfe0;
      }
      // clearing
      &:after{
        content: "";
        display: table;
        clear: both;
      }
      @media(min-width:465px){
        // Alignment
        .product-left{
          float: left;
          width: 160px;
          margin-right: 20px;
        }
        .product-right{
          width: auto;
          overflow: hidden;
        }
      }
      .btn-park{
        position:absolute;
        right:5px;
        bottom:5px;
        text-transform: uppercase;
        padding:10px 7px;
        border-color:$primary-color;
        border-radius:0;
        color: $primary-color;
        z-index: 99;
        border-width:2px;
        font-weight: 500;
        &.btn-parked{
          background-color:$primary-color;
          color:#fff;
        }
        &:hover{
          background-color: $primary-color;
          color: #fff;
        }
      }
      // Product image section
      .product-images{
        .product-image-previews .product-image{
          position: relative;
          .image-count{
            position:absolute;
            top:0;
            left: 0;
            width:100%;
            height:100%;
            background-color:rgba(0,0,0,0.7);
            color: #fff;
            text-align: center;
            padding-top: 20px;
            font-size: 28px;
          }
        }
        @media(min-width:465px){
          .product-image-previews{
            .product-image{
              width: 49%;
              float: left;
              margin-top: 2%;
              &:first-child{
                margin-right: 2%;
              }
            }
          }
        }
        @media(max-width:465px){
          .product-main-image,
          .product-image-previews .product-image{
            width: 60px;
            float: left;
            margin-right: 5px;
            margin-bottom: 20px;
            .image-count{
              padding-top: 15px;
              font-size: 20px;
            }
          }
        }
      }
      // Product content section
      .product-content{
        .product-title{
          order: 0;
          flex: 0 1 auto;
          align-self: stretch;
          color: #4b4b4b;
          h1,h2{
            margin-top: 0;
          }
          h1{
            font-size: 20px;
            margin-bottom: 15px;
          }
          h2{
            font-size: 14px;
          }
          .product-price{
            float: right;
            @media(max-width:767px){
              float: left;
              margin-top: 20px;
            }
            .price{
              display: block;
              .amount{
                font-size: 20px;
                font-weight: 500;
              }
              .currency{
                font-size: 14px;
                margin-left: 2px;
              }
            }
            .price-details{
              color: #919191;
              display: block;
              .amount{
                font-size: 12px;
              }
              .currency{
                font-size: 10px;
                margin-left: 1px;
              }
              .tax{
                font-size: 12px;
              }
            }

          }
        }
        .product-details{
          position:absolute;
          left:200px;
          right: 20px;
          bottom:0; //-20px  992
          @media(max-width:767px){
            display: none;
          }
          .product-detail{
            float: left;
            width:20%;
            margin-bottom: 20px;
            h1,p{
              font-size: 14px;
              @media(max-width: 1199px){
                font-size: 12px;
              }
            }
            h1{
              margin-top: 0;
              color: #bde2ff;
            }
            p{
              margin-bottom: 0;
              color: #4b4b4b;
            }
          }
        }
      }
    }
  }
}
